{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Awesome Designs">
    <meta name="author" content="EEPOC Studios">

    <title>EEPOC Studios</title>

    <link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>    
</head>
<body>
  <div class="content">
      <div class="wrap">
        <div class="content-grid">
      <p><img src="{% static 'images/top.png' %}"></p>
        </div>
        <div class="grid">
      <p><img src="{% static 'images/coming.png' %}"></p>
      <h3>We are Still Working on it.</h3>
        <form class="landing">
            <input type="text" size="30" value="Your Email and Get Notified..." onblur="if (this.value=='') this.value = 'Your Email and Get Notified...'" onfocus="if (this.value=='Your Email and Get Notified...') this.value = ''" name="email" id="email">
            <a href="#">
              <button class="btn span btn-4 btn-4a icon-arrow-right"><span></span></button>
            </a>
            <div id="response"></div>
        </form>
    <div style="display:none" class="success">
      <h3>Thank you!</h3>
    </div>

    <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <!--      <p class="a"><a href="#"><img src="{% static 'images/facebook.png' %}"></a><a href="#"><img src="{% static 'images/twitter.png' %}"></a></p>
         -->
    <p>Copyright 2014 EEPOC Studios</p>
    </div>
      <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>


<script type="text/javascript">
$(function () // execute once the DOM has loaded
{
    // wire up Add Item button click event
    $("button").click(function (event) {
        event.preventDefault(); // cancel default behavior
        Parse.initialize("AujgrxYHBK1XRlnMv8oJdWY8i68r7uPDaF3SqCOj", "AYJDbvJoj1z26S3lO100h7QGrdF3PdU8Y4lFbNvh");
        var user_email = $("input#email").val();
        var EmailObject = Parse.Object.extend("Email");
        var email = new EmailObject();
        email.save({
            email: user_email
        }, {
            success: function (object) {
                $(".landing").hide();
                $(".success").show();
            },
            error: function (model, error) {
                console.log('Did not send to Parse.');
            }
        });
    });

});
</script>
</body>
</html>
